		<footer>
			<section class="footer small-text">
				<div class="container">
					<p class="icon-container">
					<% if(ddd[0].facebook != '') { %>
						<a href="https://facebook.com/
						<%= ddd[0].facebook %>
						" class="icon" target="_blank">
								<img width="30" height="30" alt="Find us on facebook" src="/images/facebook.png" /> 
						</a> 
					<%}%>
					<% if(ddd[0].twitter != '') { %>	
						<a href="https://twitter.com/<%= ddd[0].twitter %>" class="icon" target="_blank"> 
							<img width="30" height="30" alt="Find us on Twitter" src="/images/twitter.png" />
						</a> 
						<%}%>
						<a href="https://www.dddwales.com/contact" class="icon" target="_blank"> 
							<img width="30" height="30" alt="Contact us " src="/images/email.png" />
						</a>
					</p>
				</div>
				<p class="small-text">
					<%= ddd[0].copyright %>
				</p>
			</section>
		</footer>
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>  
	</body>
	
</html>