<!DOCTYPE html>
<html lang="en">
<head>

<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>DDDWales 2018</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/ddd.css" />

<script type="text/javascript" src="js/contact.js"></script>

 </head>
    <body>
         <header>
		 
   
		<div class="container">
	<a href="/"><img src="images/DDD-Wales-Dragon-Logo.png" class="logo"></a>
</div>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/sponsors">Sponsors</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/code-of-conduct">Code of conduct</a></li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
  </nav>
 <section class="index-top-banner">
            <p>DDDWALES - COMING SOON - MARCH 2018</p>
        </section>
</header>