<div class="col-md-4">
            <div class="panel">
                <h3>Saturday, March 2018</h3>
                <ul>
                    <li>Swansea Grand Theatre</li>
                    <li>9am - 5pm</li>
                </ul>
            </div>

            <div class="panel">
                <h3>Important Dates</h3>
                <ul>
                    <li>Submissions open</li>
                    <li>Registrations open</li>
                    <li>Submissions closed</li>
                </ul>
            </div>
        </div>