<div class="col-md-4">
	<div class="panel twitter">	
		<a class="twitter-timeline" data-height="500" href="https://twitter.com/<%= ddd[0].twitter %>?ref_src=twsrc%5Etfw">Tweets by <%= ddd[0].twitter %></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
</div>