<% include ../partials/head %>
<main>
   <section class="container content">
        <img src="images/404.png" class="img-responsive" alt="404 Page not found">
   </section>
</main>
<% include ../partials/footer %>