<% include ../partials/head %>
<main>
   <section class="container content">
      <div class="col-md-8">
         <h1>About</h1>
         <h2>Developer! Developer! Developer! Day</h2>
         <p>The UK's premier FREE Developer conference is coming to Wales! Since its inception in 2005, DDD has spread across the UK and throughout other parts of the world, as far afield as Melbourne and Perth. This time though it is heading to Swansea!</p>
         <p>DDD is a free one day technical event for developers. It&rsquo;s been just over 10 years since DDD was first formed and as a conference it has generated many spin-offs, as well as nurturing talented speakers, who have gone on to become Microsoft Most Valuable Professionals, Microsoft FTEs and to present at National and International Conferences.</p>
         <p>DDD was always envisioned as a day of learning, discussion, contribution and involvement in the community, from across the UK. The goal of DDD is to provide free technical education with the added benefit of the networking possibilities with peers and the development of relationships across the .NET Industry!</p>
      </div>
      <% include ../partials/sidebar %>
   </section>
</main>
<% include ../partials/footer %>