<% include ../partials/head %>

<main>
    <section class="container content">
        <div class="col-md-8">
            <h1>Contact</h1>
            <p>Please fill in the below form and we'll get back to you as soon as possible.</p>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <h3>Sat ?? March</h3>
                <ul>
                    <li>Swansea Grand Theatre</li>
                    <li>9am - 5pm</li>
                </ul>
            </div>

            <div class="panel">
                <h3>Important Dates</h3>
                <ul>
                    <li>Submissions open</li>
                    <li>Registrations open</li>
                    <li>Submissions closed</li>
                </ul>
            </div>
        </div>
    </section>
    
</main>

<footer>
<% include ../partials/footer %>
</footer>

</body>
</html>