<% include ../partials/head %>
<main>	
   <section class="banner-container">
      <div class="banner" alt="DDDWales banner"></div>
   </section>
   <section class="container content">
      <div class="col-md-8">
         <h2>DDD <%= ddd[0].ddd %>, the free community conference, is heading to <%= ddd[0].city %>, on <%= ddd[0].date %>.</h2>
         <p>Developer Developer Developer events are founded on a number of principles which makes it unique and well worth a single day of your time.</p>
         <p><strong>DDD events are free</strong>. It doesn&rsquo;t cost you anything to attend.</p>
         <p><strong>It's on a Saturday.</strong><span>&nbsp;</span>That means for the majority of software developers there is no need to get time off work. For contractors/freelancers it is unlikely to impact billable hours.</p>
         <p><strong>Speakers from the community</strong>. We invite people that have something to say, a story to tell, or an experience to learn from. The majority of these people are real day-to-day software developers, DBAs, and so on that actually work and face the reality of their craft each day.</p>
         <p><strong>DDD events are democratic</strong>. Sessions are voted in by the community.</p>
         <p><strong>No Marketing</strong>. The core philosophy for the sessions are that they contain useful information. Stuff that you can either take back and start using the next day or (if not yet available) to start planning how to move to that technology.</p>
         <p><strong>DDD events are focused on growing the community.<span>&nbsp;</span></strong>As part of this year's conference we will be featuring a student and new speakers track that will encourage contibution from a wider section of the community, providing a platform for new speakers to share their insights and perspective on development with the wider community, inline with our goals for increased inclusivity and participation.</p>
         <p>To paraphrase the Lincoln&rsquo;s Gettysburg address, DDD <%= ddd[0].ddd %> is of the developer community, by the developer community and for the developer community.</p>
      </div>
      <% include ../partials/sidebar %>
   </section>
</main>
<% include ../partials/footer %>