<% include ../partials/head %>

<main>
    <section class="container content">
        <div class="col-md-8">
            <h1>Sponsors</h1>
            
            <p>Developer Day would not be possible without the fantastic support from our sponsors. The Developer Day team are looking for more sponsors to help out with financial and other assistance.</p>
            <p>Should you know of other organisations or companies who may be interested in sponsoring Developer Day you can get in touch with us via the<span>&nbsp;</span><a href="/contact">contact page</a>.</p>
            
        </div>
        <% include ../partials/sidebar %>
    </section>
    
</main>

<footer>
<% include ../partials/footer %>
</footer>

</body>
</html>