<% include ../partials/head %>
<main>
   <section class="container content">
      <div class="col-md-8">
         <h1>Submit Talk</h1>

         <form id="contact" method="post" action="/form/" data-parsley-validate>
            <div class="form-group">
               <label for="fullname">Full name</label>
               <input class="form-control" id="fullname" name="fullname" placeholder="Enter name" required>
            </div>
            <div class="form-group">
               <label for="emailAddress">Email address</label>
               <input type="email" class="form-control" id="emailAddress" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
               <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="twitter">Twitter</label>
                <input type="twitter" class="form-control" id="twitter" name="twitter" placeholder="Enter Twitter handle">
            </div>
            <div class="form-group">
                <label for="title">Talk title</label>
                <input class="form-control" id="title" name="title" placeholder="Enter talk title" required>
            </div>
            <div class="form-group file-upload" > 
                <input class="form-control js-file-upload-display file-upload__display" id="avatar-display" placeholder="Choose File" disabled="disabled" />
                <label for="avatar" class="file-upload__label">
                    <span>Upload</span>
                    <input class="form-control file-upload__input" id="avatar" name="avatar" aria-describedby="uploadHelp" placeholder="Upload photo of yourself" type="file">
                </label>
            </div>
            <div class="form-group">
               <label for="talk-summary">Brief</label>
               <textarea class="form-control" id="talk-summary" name="talk-summary" placeholder="Talk summary" rows="10" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
         </form>



         </div>
      <% include ../partials/twitter-sidebar %>
   </section>
</main>
<% include ../partials/footer %>

<script>
    document.getElementById("avatar").onchange = function () {

        let displayInput = document.getElementById("avatar-display");
        let filepath = this.value;

        let filename = getFileName(filepath);
        
        displayInput.value = filename;
    };

    function getFileName(path) {
        return path.match(/[-_\w]+[.][\w]+$/i)[0];
    }
</script>